
.р {
    width: 100%;
}

.pe {
   margin-left: 220px; 
}

.pa-name {
    text-align: center;
}

.pa {
    width: 20%;
    margin-left: 220px;
}

.re {
    margin-left: 20px;
}

.ra {
    margin-left: 700px;
    margin-top: -40px;
}

.r {
    margin-left: 1250px;
    margin-top: -40px
}

.w {
    color: deepskyblue;
    text-align: center;
}

.footer-bg {
    margin-top: 80px;

}

.footer-bg {
   background: grey; 
}

.copyright {
    
}

.footer-b {
    margin-top: 200px;
    
}

.tovar {
	width: 600px;
}

.r2 {
	color: blue; 
	margin-left: 700px;
	margin-top: 60px;

}

.r4 {
	margin-top: -550px;
	width: 500px;
	margin-left: 800px;
	font-family: monospace;
}

.t5 {
	margin-left: 130px;
	
}

.t9 {
	margin-top: -100px;
	margin-left: 130px;
}
